repositories:
  - name: traefik
    oci: true
    url: ghcr.io/traefik/helm
  - name: bjw-s
    oci: true
    url: ghcr.io/bjw-s/helm

---
releases:
  - name: traefik-crds
    namespace: traefik-system
    chart: traefik/traefik-crds
    version: 1.14.0

  #  Ingress for local network
  - name: ingress-traefik-internal
    namespace: traefik-system
    chart: traefik/traefik
    version: 37.4.0
    secrets:
      - ./secrets/traefik.values.secret.yaml
    values:
      - ./values/traefik.values.yaml

  - name: traefik-auth
    namespace: traefik-system
    chart: bjw-s/app-template
    version: 3.7.3
    secrets:
      - ./secrets/auth.values.secret.yaml

  - name: traefik-extra-resources
    namespace: traefik-system
    chart: raw/raw
    version: 2.0.0
    values:
      - ./values/extras.values.yaml
