apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: media-flix
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/nilson-aguiar/nlab.git  # TODO: Update this to your actual repo URL
    targetRevision: main  # or your default branch name
    path: k8s/10_apps/02_media-flix
    plugin:
      name: helmfile
  destination:
    server: https://kubernetes.default.svc
    namespace: media-flix
  syncPolicy:
#    automated:
#      prune: true
#      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 3
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
