controllers:
  tdarr:
    replicas: 1

    pod:
      securityContext:
        runAsNonRoot: false
        runAsUser: 0
        runAsGroup: 0

    initContainers:
      permissions-config:
        securityContext:
          runAsNonRoot: false
          runAsUser: 0
          runAsGroup: 0
          allowPrivilegeEscalation: true
        image:
          repository: busybox
          tag: latest
        command: ["/bin/sh", "-c", "chown -R 1000:1000 /app/configs"]
      permissions-server:
        securityContext:
          runAsNonRoot: false
          runAsUser: 0
          runAsGroup: 0
          allowPrivilegeEscalation: true
        image:
          repository: busybox
          tag: latest
        command: [ "/bin/sh", "-c", "chown -R 1000:1000 /app/server" ]

    containers:
      app:
        image:
          repository: ghcr.io/haveagitgat/tdarr
          tag: 2.58.02
        env:
          TZ: "Europe/Amsterdam"
          PUID: "1000"
          PGID: "1000"
          internalNode: true
        ports:
          - name: http
            containerPort: 8265
          - name: server
            containerPort: 8266
        resources:
          requests:
            cpu: 25m
            memory: 256Mi
          limits:
            memory: 2Gi

hostSuffix: &hostSuffix "local.naguiar.dev"

rawResources:
  ingress-route:
    enabled: true
    apiVersion: traefik.io/v1alpha1
    kind: IngressRoute
    annotations:
      external-dns.alpha.kubernetes.io/target: 192.168.1.200
      kubernetes.io/ingress.class: traefik-external
    spec:
      spec:
        entryPoints:
          - websecure
        routes:
          - match: Host(`tdarr.local.naguiar.dev`) && Host(`tdarr.naguiar.dev`)
            kind: Rule
            services:
              - name: tdarr
                port: 8265
        tls:
          secretName: certificate-tls

service:
  app:
    controller: tdarr
    ports:
      http:
        port: 8265
      server:
        port: 8266

persistence:
  server:
    enabled: true
    size: 5Gi
    storageClass: longhorn
    retain: true
    accessMode: ReadWriteOnce
    globalMounts:
      - path: "/app/server"
  config:
    enabled: true
    size: 5Gi
    storageClass: longhorn
    retain: true
    accessMode: ReadWriteOnce
    globalMounts:
      - path: "/app/configs"
  transcode-cache:
    type: emptyDir
  media:
    existingClaim: media-storage-data
    globalMounts:
      - path: /media
        subPath: media
        readOnly: false
