repositories:
  - name: mojo2600
    url: https://mojo2600.github.io/pihole-kubernetes/
  - name: bitnami
    url: https://charts.bitnami.com/bitnami
  - name: external-dns
    url: https://kubernetes-sigs.github.io/external-dns/
  - name: raw
    url: https://bedag.github.io/helm-charts/

---
releases:
# pihole - DNS records and AdGuard
  - name: pihole
    namespace: pihole-system
    chart: mojo2600/pihole
    version: 2.34.0
    secrets:
      - ./secrets/pihole.value.secret.yaml
    values:
      - ./values/pihole.values.yaml

# Automatic DNS for pihole
  - name: externaldns-pihole
    namespace: pihole-system
    chart: external-dns/external-dns
    version: 1.19.0
    values:
      - ./values/externaldns.values.yaml

  - name: pihole-ingress
    namespace: pihole-system
    chart: raw/raw
    version: 2.0.2
    values:
      - ./values/pihole.ingress.values.yaml