controllers:
  main:
    type: statefulset
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      main:
        image:
          repository: redis
          tag: 8.4-alpine
        command: ["redis-server", "--appendonly", "yes"]
        resources:
          requests:
            cpu: 10m
            memory: 50Mi
          limits:
            memory: 256Mi

service:
  main:
    controller: main
    ports:
      http:
        port: 6379

persistence:
  data:
    enabled: true
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 1Gi
    globalMounts:
      - path: /data
