serviceAccount:
  create: true
  name: external-dns

sources:
  - service
  - ingress
  - traefik-proxy

policy: sync
logLevel: info
txtOwnerId: homelab

domainFilters:
  - local.naguiar.dev

# The new chart uses extraArgs for provider-specific settings.
# See https://github.com/kubernetes-sigs/external-dns/blob/master/docs/tutorials/pihole.md
extraArgs:
  - --pihole-server=http://pihole-web.pihole-system.svc.cluster.local
  - --pihole-tls-skip-verify
  - --pihole-api-version=6

env:
  - name: EXTERNAL_DNS_PIHOLE_PASSWORD
    valueFrom:
      secretKeyRef:
        key: password
        name: pihole-password

provider:
  name: pihole