# --- vmsingle (The Database) ---
vmsingle:
  spec:
    retentionPeriod: "30d"
    resources:
      requests:
        cpu: "250m"
        memory: "512Mi"
      limits:
        memory: "1536Mi"

grafana:
  enabled: true

  persistence:
    enabled: true
    size: 5Gi

  resources:
    requests:
      cpu: "100m"
      memory: "256Mi"
    limits:
      memory: "512Mi"

# --- vmagent (The Scraper) ---
vmagent:
  spec:
    resources:
      requests:
        cpu: "100m"
        memory: "256Mi"
      limits:
        memory: "1024Mi"