# --- vmsingle (The Database) ---
vmsingle:
  spec:
    retentionPeriod: "7d"
    resources:
      requests:
        cpu: "250m"
        memory: "512Mi"
      limits:
        memory: "1536Mi"

# --- Scrapers Configuration ---
kubelet:
  enabled: true
  vmScrapes:
    # -- Enable scraping /metrics/cadvisor from kubelet's service
    cadvisor:
      enabled: true
      spec:
#        scheme: "https"
#        tlsConfig:
#          insecureSkipVerify: true
#          caFile: "/var/run/secrets/kubernetes.io/serviceaccount/ca.crt"
#        bearerTokenFile: "/var/run/secrets/kubernetes.io/serviceaccount/token"
#        relabelConfigs:
#          - action: labelmap
#            regex: __meta_kubernetes_node_label_(.+)
#          - targetLabel: __address__
#            replacement: kubernetes.default.svc:443
#          - sourceLabels: [ __meta_kubernetes_node_name ]
#            regex: (.+)
#            targetLabel: __metrics_path__
#            replacement: /api/v1/nodes/$1/proxy/metrics/cadvisor
#        path: /metrics/cadvisor
#        scrapeTimeout: 30s
#        honorLabels: true
#        scheme: https
#        tlsConfig:
#          insecureSkipVerify: true
#          caFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
#        bearerTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
        metricRelabelConfigs:
          - action: labeldrop
            regex: (uid)
          - action: labeldrop
            regex: (id|name)
          - action: drop
            source_labels: [ __name__ ]
            regex: (rest_client_request_duration_seconds_bucket|rest_client_request_duration_seconds_sum|rest_client_request_duration_seconds_count)
    # -- Enable scraping /metrics/probes from kubelet's service
    probes:
      enabled: true
      spec:
        path: /metrics/probes
    # -- Enabled scraping /metrics/resource from kubelet's service
    resources:
      enabled: true
      spec:
        path: /metrics/resource
    kubelet:
      spec: {}

kubeProxy:
  enabled: true

kubeControllerManager:
  enabled: true

kubeEtcd:
  enabled: true

kubeScheduler:
  enabled: true

kubeStateMetrics:
  enabled: true

# --- Rules Configuration ---
defaultRules:
  create: true
  rules:
    etcd: true
    general: true
    k8s: true
    kubeApiserver: true
    kubeApiserverAvailability: true
    kubeApiserverSlos: true
    kubelet: true
    kubeProxy: true
    kubePrometheusGeneral: true
    kubePrometheusNodeRecording: true
    kubernetesAbsent: true
    kubernetesApps: true
    kubernetesResources: true
    kubernetesStorage: true
    kubernetesSystem: true
    network: true
    node: true
    vmagent: true
    vmsingle: true
    vm-health: true

grafana:
  enabled: true
  plugins:
    - victoriametrics-metrics-datasource
    - victoriametrics-logs-datasource

  persistence:
    enabled: true
    size: 5Gi

  resources:
    requests:
      cpu: "100m"
      memory: "256Mi"
    limits:
      memory: "512Mi"

# --- vmagent (The Scraper) ---
vmagent:
  spec:
#    extraArgs:
#      # Enables detailed logging for scrape configuration and relabeling
#      promscrape.config.debug: "true"
#      promscrape.dropOriginalLabels: "false"
    resources:
      requests:
        cpu: "100m"
        memory: "256Mi"
      limits:
        memory: "1024Mi"

#defaultScrapeService:
#  namespace: monitoring

victoria-metrics-operator:
  admissionWebhooks:
    certManager:
      enabled: true
      issuerName: letsencrypt-stg
      issuerKind: ClusterIssuer