# --- vmsingle (The Database) ---
vmsingle:
  spec:
    retentionPeriod: "30d"
    resources:
      requests:
        cpu: "250m"
        memory: "512Mi"
      limits:
        memory: "1536Mi"

grafana:
  enabled: true
  plugins:
    - victoriametrics-metrics-datasource
    - victoriametrics-logs-datasource

  persistence:
    enabled: true
    size: 5Gi

  resources:
    requests:
      cpu: "100m"
      memory: "256Mi"
    limits:
      memory: "512Mi"

# --- vmagent (The Scraper) ---
vmagent:
  spec:
    resources:
      requests:
        cpu: "100m"
        memory: "256Mi"
      limits:
        memory: "1024Mi"

#defaultScrapeService:
#  namespace: monitoring

victoria-metrics-operator:
  admissionWebhooks:
    certManager:
      enabled: true
      issuerName: letsencrypt-stg
      issuerKind: ClusterIssuer